@import 'tailwindcss';

:root {
        --width: 1300px;
        --red: #7a0000;
        --black: #0a0a0a;
        --brownie: #1b1918;
        --mini: 9px;
}
@layer components {
        .bigfont {
                @apply text-sm;
        }
        .smallfont {
                @apply text-mini text-gray-50;
        }
        ._container {
                @apply max-w-[var(--width)] mx-auto px-11 max-lg:px-2 bg-brownie;
        }
        .clickButton {
                @apply inline-block bg-maroon;
        }
        .arrow {
                @apply pr-2 after:block after:absolute after:border-t-[5px] after:border-r-[5px] after:border-r-transparent after:border-l-[5px] after:border-l-transparent after:-right-4 after:top-1/2 after:-translate-1/2 after:transition-transform;
        }
        .link {
                @apply relative font-extrabold tracking-[5.5px] uppercase before:absolute before:w-11 before:h-[1px] before:bg-white before:left-50 before:top-1/2 before:-translate-y-1/2;
        }
        .rightTriangle {
                @apply after:block after:absolute after:border-t-[285px] after:border-t-black after:border-r-transparent after:left-full max-lg:min-w-[300px] max-lg:bg-center max-md:after:hidden max-md:h-full max-md:w-full max-md:opacity-50 after:top-0;
        }
}
@theme inline {
        --font-serif: var(--inter);
        --font-sans: var(--alex);
        --text-mini: var(--mini);
        --color-maroon: var(--red);
        --color-dark: var(--black);
        --color-brownie: var(--brownie);
        --breakpoint-xs: 26.5rem;
        --breakpoint-tablet-lg: 51.25rem;
        --breakpoint-cnt: 81.25rem;
}
body {
        background: #000;
        color: #fff;
}
h1 {
        font-size: 48px;
}
h2 {
        font-size: 38px;
}
h3 {
        font-size: 21px;
}
a {
        cursor: pointer;
}
.activeChoice {
        opacity: 1;
}
@media (max-width: 992px) {
        h3 {
                font-size: 18px;
        }
}
@media (max-width: 768px) {
        h1 {
                font-size: 38px;
        }
        h2 {
                font-size: 28px;
        }
}
